@{
    ViewData["Title"] = "Home Page";
}


    <header class="text-center mx-5 pb-5">
        <h2 class="display-5 pt-5">Olá, sou Erick</h2>
        <h5 class="p-4"><b>Sou desenvolvedor focado em tecnologias .NET</b></h5>
        <div class="px-2">

            <img style="width:250px" class="img-thumbnail rounded-circle" src="/images/erick_ufba imagem foto.png" />
        </div>

        <img style="width:200px; height:100px" class="mt-4 mb-4 img-thumbnail rounded" src="/images/background-1.png" />
    
    <section class="text-center my-4">
        <h3>Bem vindo ao meu portfólio</h3>
        <p class="p-5">
            Atualmente, faço projetos projetos simples de WebApi e Aplicações seguindo a estrutura MVC, sou fascinado
            em aprender o desenvolvimento das aplicações no server-side e acabei desenvolvendo interesse em me
            tornar um desenvolvedor ASPNET. E por isso almejo um cargo de Junior ou Estagiário para adquirir e
            aprimorar minha compreensão sobre o framework e aprender as boas práticas de desenvolvimento web em
            alguma empresa do segmento. Viso sempre meu crescimento pessoal e procuro aprimorar constantemente os
            meus conhecimentos.
        </p>
    </section>
    </header>
    <div class="justify-content-center card border mb-3" style=" margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
width:300px">


        <div class="card-body p-5">
            <h1><i style="color:cornflowerblue" class="px-5 mx-4 bi bi-hdd-fill"></i></h1>
            <h3 class="card-title">Back-end</h3>
            <p class="card-text">Consigo desenvolver aplicações server-side robustas desde o projetom testes unitários e deploy em produção.</p>
            <h5 class="text-info">Stack:</h5>
            <p class="pt-3">ASP.NET Core, SQL SERVER, BOOTSTRAP</p>
            <h5 class="text-info pt-3">Experiência:</h5>
            <ul class="list-unstyled">
                <li>WebApi</li>
                <li>ASP.NET Core MVC</li>
                <li>Entity Framework</li>
            </ul>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-5">
        <h2> <a href="https://www.linkedin.com/in/erick-peneluca-2710401b9/"><i class="bi bi-linkedin"></i> </a> </h2>
        <h2> <a href="https://github.com/ErickPeneluca"><i class="bi bi-github"></i></a>  </h2>
    </div>
    
    <footer class="border-top footer text-muted mt-5">
        <div class="container">
            &copy; 2023 - Portfolio - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

